ssh/id_rsa
ssh/id_rsa.pub
zshenv
ssh/config
.pass
tmux/resurrect/*
tmux/plugins/*

config/nvim/plugged
config/nvim/undodir
config/nvim/vscode-css/css-language-features
config/nvim/.netrwhist
config/nvim/plugin/packer_compiled.lua