ssh/id_rsa
ssh/id_rsa.pub
zshenv
ssh/config
.pass
tmux/resurrect/*
tmux/plugins/*

home/config/nvim/plugged
home/config/nvim/undodir
home/config/nvim/vscode-css/css-language-features
home/config/nvim/.netrwhist
home/config/nvim/plugin/packer_compiled.lua
dot_config/nvim/undodir
